/* Set up Color Scheme */
:root{
    --primary: #407076;
    --secondary: #e0afa0;
    --tertiary: #4a2040;
    --light: #f9fffd;
    --dark: #0d090a;
}

body{
    color: var(--dark);
    background-color: var(--light);
    font-family: 'Nunito', sans-serif;
}

header{
    background-color: var(--primary);
    color: white;
    text-align: center;
    width: 100%;
}

header h1{
    font-family: 'Inter', sans-serif;
    margin-top: 0px;
    padding: 1%;
}

main{
    display: flex;
}

/* Search Section Styling */
.search-section{
    width: 25%;
}

.weather-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2%;
    border-bottom: 2px solid var(--tertiary);
}

.search{
    margin: 2%;
    padding: 2%;
    border-radius: 5px;
}

.input{
    border: 1px solid var(--dark);
    font-size: 18px;
}

.btn{
    background-color: var(--secondary);
    color: var(--light);
    border: none;
}

.city{
    width: 100%;
}

.btn:hover{
    cursor: pointer;
}

/* Display Weather Section */
article{
    width: 75%;
    margin-left: 3%;
}

/* Current Weather */
.current-card{
    border: 4px dashed var(--tertiary);
    background-color: white;
    text-align: center;
    padding: 1.5%;
    margin-right: 2%;
    font-size: 22px;
}

.current-card img{
    background-color: var(--tertiary);
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 5-Day Forecast */
.card-container{
    display: flex;
    justify-content: space-evenly;
}

.daily-card{
    border: 1px solid var(--secondary);
    background-color: var(--tertiary);
    width: 16%;
    padding: 1%;
    color: white;
}

.subheading{
    font-family: 'Inter', sans-serif;
    text-decoration: bold;
    text-align: center;
    margin: 0px;
}

.daily-card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    width: 75px;
}

/* Adjust styles for screen size - medium */
@media screen and (max-width: 1058px){
    .card-container{
        flex-wrap: wrap;
        justify-content: left;
    }

    .daily-card{
        width: 25%;
        margin-bottom: 3%;
        margin-left: 1.5%;
        margin-right: 3%;
        font-size: 18px;
    }
}

/* Adjust styles for screen-size - small */
@media screen and (max-width: 770px){
    main{
        flex-direction: column;
        align-items: center;
    }
    .search-section{
        width: 90%;
        text-align: center;
        border-bottom: 2px solid var(--tertiary);
        margin-bottom: 4%;
    }
    .weather-form{
        align-items: center;
        border: none;
    }
    .search{
        width: 70%;
    }
    .btn{
        width: 60%;
    }
    .current-card{
        padding: 6%;
        font-size: 24px;
    }
    .current-card h2{
        text-align: center;
    }
    .current-card img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        width: 200px;
    }
    .card-container{
        justify-content: center;
    }
    .daily-card{
        width: 95%;
        padding: 4%;
        text-align: center;
        font-size: 18px;
    }
    .daily-card img{
        height: 100px;
        width: 100px;
    }
}
